html, nav ul, header h1
{
	margin: 0pt;
	padding: 0pt;
}

html
{
	background: fixed url('img/background.png');
}

body
{
	margin: 0pt auto;
	width: 912pt;
	text-align: center;
}

header, article#main
{
	display: table;
}

header img, header h1, article#main div, article#main img
{
	display: table-cell;
}

header, header h1, nav::before
{
	width: 100%;
}

header img, header h1, article#main div, article#main img
{
	vertical-align: middle;
}

header img
{
	border-radius: 12pt;
}

header h1
{
	font-family: serif;
}

header h1 span
{
	display: block;
	font-family: Georgia, Palatino, "Palatino Linotype", serif;
	font-style: italic;
	font-size: 270%;
	font-weight: normal;
	text-shadow: 1pt 1pt 2pt rgba(0,0,0,0.5);
}

article article h1
{
	font-size: medium;
}

h1, h2, h3,
h1 a, h2 a, h3 a
{
	color: #572325;
	font-family: Verdana;
	margin-top: 1em;
	margin-bottom: 1em;
}

article p:first-child
{
	margin-top: 0pt;
}

article p:last-child
{
	margin-bottom: 0pt;
}

img
{
	border-radius: 7pt;
}

nav
{
	margin: 24pt 24pt 12pt 24pt;
	position: relative;
}

nav::before
{
	border: solid #ddd 1pt;
	border-radius: 1pt;
	box-shadow: 1pt 1pt #fafafa;
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
}

nav ul
{
	display: inline-block;
	position: relative;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}

nav ul li a
{
	background: #175ebf;
	border-radius: 3pt;
	box-shadow: 1pt 1pt 2pt rgba(0,0,0,0.5);
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 3pt;
	padding: 6pt 10pt;
	text-decoration: none;
}

nav ul li a[href]
{
	background: #021835;
	font-weight: normal;
}

nav ul li a[href]:active
{
	box-shadow: none;
	left: 2px;
	position: relative;
	top: 2px;
}

nav ul li a.active
{
	background: #175ebf;
	font-weight: bold;
}

article
{
	margin: 0pt 50pt;
}

article .special
{
	color: #990033;
	display: block;
	font-size: 1.25em;
	margin: -0.75em 0em -0.4em 0em;
}

article.filled
{
	max-width: 570pt;
}

article.filled, article.dogcard, html
{
	background-color: #caecfd;
}

article.filled, article.dogcard
{
	border: 1pt solid #021835;
	border-radius: 12pt;
	display: inline-block;
	margin: 12pt;
	padding: 24pt;
	vertical-align: top;
}

article#main div, article#main img
{
	text-align: left;
}

dl
{
	text-align: left;
}

dt
{
	display: inline;
	font-weight: bold;
	margin-bottom: 5pt;
}

dd::before
{
	content: " — ";
}

dd::after
{
	content: "";
	display: block;
}

dd
{
	display: inline;
	margin-bottom: 5pt;
	margin-left: 0pt;
}

footer
{
	border-top: 1pt solid #021835;
	clear: both;
	margin: 24pt 12pt 0pt 12pt;
}

article.dogcard
{
	font-weight: bold;
}

article.dogcard p
{
	margin-bottom: 8pt;
	margin-top: 8pt;
}

article.dogcard div.general
{
	display: table-cell;
	float: left;
	margin-right: 20pt;
}

.titles, .inline-titles
{
	color: #b50f0f;
	font-weight: bold;
	text-align: center;
}

.titles
{
	list-style-type: none;
	padding: 0pt;
	text-transform: uppercase;
}

article.dogcard .titles li::after
{
	content: ",";
}

article.dogcard .titles li:last-child::after
{
	content: "";
}

article.dogcard div.shows
{
	display: table-cell;
	width: 50%;
}

article.dogcard div.shows::before
{
	content: " ";
	display: inline-block;
	margin-bottom: 1.2em;
	font-size: 200%;
}

article.dogcard h2
{
	font-size: 100%;
}

article.dogcard h3
{
	font-size: 10pt;
}

article.dogcard ol
{
	padding: 0pt;
}

ol.chrono-list
{
	list-style-type: none;
	text-align: left;
}

ol.chrono-list li
{
	display: table-row;
}

ol.chrono-list li time
{
	display: table-cell;
	padding-right: 7pt;
	text-align: right;
}

iframe
{
	border: none;
	height: 315px;
	width: 560px
}

table.pedigree
{
	border-collapse: collapse;
	font-size: 80%;
	font-weight: bold;
	margin: 0pt auto 12pt auto; 
	text-align: left;
}

table.pedigree td
{
	border: 1pt solid gray;
	padding: 3pt 7pt;
}

table.pedigree p
{
	margin: 0pt;
}

table.pedigree p:first-child
{
	color: #b50f0f;
}

table.pedigree img
{
	margin-top: 9pt;
}

ul, ol
{
	text-align: left;
}
