---
photo: # temporary
  name: 20190406-togliatty-2
  width: 109
  caption: Крыгина Светлана и Фонте Фиделити Пальмира, г. Тольятти, 6 апреля 2019 г.
---
    <h2 style="font-size: 90%"><time datetime="2019-10-19">19.10.2019</time>, г. Димитровград, монопородная выставка, эксперт Тимофеева О. А.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс рабочих собак, 1 отлично, выражено, не отпускает, КЧК!</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс юниоров, 4 очень хорошо.</p>
    <p>
        {% include photo.html path="2019/10191" title="Фонте Фиделити Итан и Пальмира, г. Димитровград, 19 октября 2019 г." w="249" h="152" %}
        {% include photo.html path="2019/10192" title="Фонте Фиделити Итан, г. Димитровград, 19 октября 2019 г." w="142" h="152" %}
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-10-13">13.10.2019</time>, г. Тольятти, региональная выставка, эксперт Прозоров Д. А.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Изабель</strong>, класс открытый, 1 отлично, победитель класса, лучшая сука, CAC.</p>
    <hr>

	<h2 style="font-size: 90%"><time datetime="2019-08-22">22.09.2019</time>, г. Нижний Новгород, монопородная выставка, эксперт Пудеев Е. И.</h2>
	<p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочих собак, 4 отлично, CC, дорожка пройдена, выражено, отпускает. Лучший на проверке рабочих качеств!</p>
	<p>
	 	{% include photo.html path="2019/09221" title="Фонте Фиделити Андо, г. Нижний Новгород, 22 сентября 2019 г." w="234" h="152" %}
	</p>
	<hr>

    <h2 style="font-size: 90%"><time datetime="2019-08-25">14.09.2019</time>, г. Ульяновск, монопородная выставка, эксперт Горюгина И. В.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс рабочих собак, 5 отлично, СС, выражено, не отпускает.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс юниоров, 5 очень хорошо.</p>
	<p>
		{% include photo.html path="2019/09141" title="Фонте Фиделити Итан, г. Ульяновск, 14 сентября 2019 г." w="115" h="152" %}
		{% include photo.html path="2019/09142" title="Фонте Фиделити Пальмира, г. Ульяновск, 14 сентября 2019 г." w="115" h="152" %}
	</p>
    <hr>

	<h2 style="font-size: 90%"><time datetime="2019-08-25">25.08.2019</time>, г. Тольятти, монопородная выставка, эксперт Лютов Е. З.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс рабочих собак, 2 отлично, СС, выражено, не отпускает.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочих собак, 6 отлично, дорожка пройдена, выражено, отпускает.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс юниоров, 7 очень хорошо.</p>
    <p>
    	<a href="/img/2019/08251.jpg" title="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г." rel="a"><img src="/img/2019/08251-h152.jpg" width="218" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г."></a>
    	<a href="/img/2019/08252.jpg" title="Фонте Фиделити Итан, Пальмира и Андо, г. Тольятти, 25 августа 2019 г." rel="a"><img src="/img/2019/08252-h152.jpg" width="268" height="152" alt="Фонте Фиделити Итан, Пальмира и Андо, г. Тольятти, 25 августа 2019 г."></a>
    	<a href="/img/2019/08253.jpg" title="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г." rel="a"><img src="/img/2019/08253-h152.jpg" width="246" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г."></a>
    	<a href="/img/2019/08254.jpg" title="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г." rel="a"><img src="/img/2019/08254-h152.jpg" width="102" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г."></a>
    	<a href="/img/2019/08255.jpg" title="Фонте Фиделити Андо, г. Тольятти, 25 августа 2019 г." rel="a"><img src="/img/2019/08255-h152.jpg" width="107" height="152" alt="Фонте Фиделити Андо, г. Тольятти, 25 августа 2019 г."></a>
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-08-24">24.08.2019</time>, г. Балаково, монопородная выставка, эксперт Кейвомяги А. Е.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Лагерта</strong>, класс молодых собак, 1 очень хорошо, ЮСС!</p>
    <p>
        <a href="/img/2019/08241.jpg" title="Фонте Фиделити Лагерта, г. Балаково, 24 августа 2019 г." rel="a"><img src="/img/2019/08241-h152.jpg" width="243" height="152" alt="Фонте Фиделити Лагерта, г. Балаково, 24 августа 2019 г."></a>
        <a href="/img/2019/08242.jpg" title="Фонте Фиделити Лагерта, г. Балаково, 24 августа 2019 г." rel="a"><img src="/img/2019/08242-h152.jpg" width="211" height="152" alt="Фонте Фиделити Лагерта, г. Балаково, 24 августа 2019 г."></a>
        <a href="/img/2019/08243.jpg" title="Фонте Фиделити Лагерта, г. Тольятти, 20 июля 2019 г." rel="a"><img src="/img/2019/08243-h152.jpg" width="228" height="152" alt="Фонте Фиделити Лагерта, г. Балаково, 24 августа 2019 г."></a>
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-07-20">20.07.2019</time>, г. Киселёвск, монопородная выставка ранга ПК, эксперт Malcolm Griffiths</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочих собак, 4 отлично, СС, дорожка пройдена, выражено, отпускает. Лучший на проверке рабочих качеств!</p>
    <!-- insert video from https://vk.com/fontefideliti?w=wall-84807516_2043%2Fall -->
    <!-- figurants: https://vk.com/fontefideliti?w=wall-84807516_2041%2Fall -->
    <p>
        <a href="/img/2019/07201.jpg" title="Фонте Фиделити Андо, г. Тольятти, 20 июля 2019 г." rel="a"><img src="/img/2019/07201-h152.jpg" height="152" alt="Фонте Фиделити Андо, г. Тольятти, 20 июля 2019 г."></a>
        <a href="/img/2019/07202.jpg" title="Фонте Фиделити Андо, г. Тольятти, 20 июля 2019 г." rel="a"><img src="/img/2019/07202-h152.jpg" height="152" alt="Фонте Фиделити Андо, г. Тольятти, 20 июля 2019 г."></a>
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-06-15">15.06.2019</time>, г. Тольятти, монопородная выставка, эксперт Пудеев&nbsp;Е.&nbsp;И.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочих собак, 7 отлично, дорожка пройдена, выражено, отпускает. Лучший на проверке рабочих качеств!</p>
    <p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс рабочих собак, 5 отлично СС, выражено, отпускает.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Лагерта</strong>, класс молодых собак, 4 очень хорошо.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Оливия</strong>, класс юниоров, 8 очень хорошо.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс подростков, 3 большая перспектива.</p>
    <p>
         <a href="/img/2019/06151.jpg" title="г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06151-h152.jpg" height="152" alt="г. Тольятти, 6 апреля 2019 г."></a>
         <a href="/img/2019/06152.jpg" title="г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06152-h152.jpg" height="152" alt="г. Тольятти, 6 апреля 2019 г."></a>
         <a href="/img/2019/06153.jpg" title="г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06153-h152.jpg" height="152" alt="г. Тольятти, 6 апреля 2019 г."></a>
         <a href="/img/2019/06154.jpg" title="г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06154-h152.jpg" height="152" alt="г. Тольятти, 6 апреля 2019 г."></a>
         <a href="/img/2019/06155.jpg" title="г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06155-h152.jpg" height="152" alt="г. Тольятти, 6 апреля 2019 г."></a>
         <a href="/img/2019/06156.jpg" title="г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06156-h152.jpg" height="152" alt="г. Тольятти, 6 апреля 2019 г."></a>
        <a href="/img/2019/06158.jpg" title="Фонте Фиделити Персей, г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06158-h152.jpg" height="152" alt="Фонте Фиделити Персей, г. Тольятти, 6 апреля 2019 г."></a>
        <a href="/img/2019/06159.jpg" title="Фонте Фиделити Оливия, г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06159-h152.jpg" height="152" alt="Фонте Фиделити Оливия, г. Тольятти, 6 апреля 2019 г."></a>        
        <a href="/img/2019/06157.jpg" title="Фонте Фиделити Лагерта, г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/06157-h152.jpg" height="152" alt="Фонте Фиделити Лагерта, г. Тольятти, 6 апреля 2019 г."></a>
        <a href="/img/2019/0615a.jpg" title="Фонте Фиделити Лагерта, г. Тольятти, 6 апреля 2019 г." rel="a"><img src="/img/2019/0615a-h152.jpg" height="152" alt="Фонте Фиделити Лагерта, г. Тольятти, 6 апреля 2019 г."></a>
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-05-05">5.05.2019</time>, г. Балаково, всероссийская выставка, эксперт Трифонова&nbsp;И.&nbsp;С.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Персей</strong>, класс юниоров, 1 отлично, Победитель класса, Jun.CAC, Юный Чемпион РФЛС, BOS.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс юниоров, 1 отлично, Победитель класса, Jun.CAC, Лучший юниор, Юный Чемпион РФЛС</p>
    <p>
        <a href="/img/2019/05051.jpg" title="Фонте Фиделити Персей и Фонте Фиделити Пальмира, г. Балаково, 5 мая 2019 г." rel="a"><img src="/img/2019/05051-h152.jpg" width="213" height="152" alt="Фонте Фиделити Персей и Фонте Фиделити Пальмира, г. Балаково, 5 мая 2019 г."></a>
        <a href="/img/2019/05052.jpg" title="Фонте Фиделити Персей, г. Балаково, 5 мая 2019 г." rel="a"><img src="/img/2019/05052-h152.jpg" width="222" height="152" alt="Фонте Фиделити Персей, г. Балаково, 5 мая 2019 г."></a>
        <a href="/img/2019/05053.jpg" title="Фонте Фиделити Пальмира, г. Балаково, 5 мая 2019 г." rel="a"><img src="/img/2019/05053-h152.jpg" width="228" height="152" alt="и Пальмира, г. Балаково, 5 мая 2019 г."></a>
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-04-27">27.04.2019</time>, г. Тольятти, всероссийская выставка, эксперт Богданова&nbsp;З.&nbsp;М.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Персей</strong>, класс юниоров, 1 отлично, Победитель класса, Jun.CAC, Юный Чемпион РФОС.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс юниоров, 1 отлично, Победитель класса, Jun.CAC, Лучший юниор, BOS, Юный Чемпион РФОС</p>
    <p style="text-align: left"><strong>Фонте Фиделити Сигберт</strong>, класс щенков, 1 большая перспектива, Победитель класса, Лучший щенок, Бест щенков 2 место.</p>
    <p>
        <a href="/img/2019/04271.jpg" title="Фонте Фиделити Персей и Фонте Фиделити Пальмира, г. Тольятти, 27 апреля 2019 г." rel="a"><img src="/img/2019/04271-h152.jpg" width="262" height="152" alt="Фонте Фиделити Персей и Фонте Фиделити Пальмира, г. Тольятти, 27 апреля 2019 г."></a>
    </p>
    <hr>

    <h2 style="font-size: 90%"><time datetime="2019-04-06">06.04.2019</time>, г. Тольятти, региональная выставка, эксперт Друца&nbsp;Д.&nbsp;Д.</h2>
    <p style="text-align: left"><strong>Фонте Фиделити Персей</strong>, класс юниоров, 1 отлично, Победитель класса, Jun.CAC, BOS.</p>
    <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс юниоров, 1&nbsp;отлично, Победитель класса, Jun.CAC, Лучший юниор, Лучший Представитель Породы, BEST группы 3 место!</p>
    <p>
        <a href="/img/photos/shows/20190406-togliatty-1.jpg" title="Фонте Фиделити Персей и Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г." rel="a"><img src="/img/photos/shows/20190406-togliatty-1-p.jpg" width="226" height="152" alt="Фонте Фиделити Персей и Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г."></a>
        <a href="/img/photos/shows/20190406-togliatty-2.jpg" title="Крыгина Светлана и Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г." rel="a"><img src="/img/photos/shows/20190406-togliatty-2-p.jpg" width="109" height="152" alt="Крыгина Светлана и Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г."></a>
        <a href="/img/photos/dogs/persey-2.jpg" title="Фонте Фиделити Персей, г. Тольятти, 06 апреля 2019 г." rel="a"><img src="/img/photos/dogs/persey-2-p.jpg" width="227" height="152" alt="Фонте Фиделити Персей, г. Тольятти, 06 апреля 2019 г."></a>
        <a href="/img/photos/shows/20190406-togliatty-4.jpg" title="Фонте Фиделити Персей, г. Тольятти, 06 апреля 2019 г." rel="a"><img src="/img/photos/shows/20190406-togliatty-4-p.jpg" width="97" height="152" alt="Фонте Фиделити Персей, г. Тольятти, 06 апреля 2019 г."></a>
        <a href="/img/photos/shows/20190406-togliatty-5.jpg" title="Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г." rel="a"><img src="/img/photos/shows/20190406-togliatty-5-p.jpg" width="235" height="152" alt="Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г."></a>
        <a href="/img/photos/shows/20190406-togliatty-6.jpg" title="Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г." rel="a"><img src="/img/photos/shows/20190406-togliatty-6-p.jpg" width="104" height="152" alt="Фонте Фиделити Пальмира, г. Тольятти, 06 апреля 2019 г."></a>
    </p>
    <hr>

        <h2 style="font-size: 90%"><time datetime="2019-03-17">17.03.2019</time>, г. Тольятти, всероссийская выставка, эксперт Поливанов&nbsp;М.&nbsp;А.</h2>
        <p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс чемпионов, 1&nbsp;отлично, Победитель класса, Лучший кобель, CAC, Чемпион Федерации ОАНКОО, Лучший Представитель Породы, Победитель BEST 1 группы.</p>
        <p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс щенков, 1 большая перспектива, Победитель класса, Лучший щенок, BEST щенков 3 место</p>
        <p style="text-align: left"><strong>Фонте Фиделити Сигберт</strong>, класс щенков, 1 большая перспектива, Победитель класса</p>
        <p>
                <a href="/img/photos/shows/20190317-tolyatty-11.jpg" title="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-11-p.jpg" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-12.jpg" title="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-12-p.jpg" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-5.jpg" title="Всероссийская выставка, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-5-p.jpg" height="152" alt="Всероссийская выставка, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-13.jpg" title="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-13-p.jpg" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-14.jpg" title="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-14-p.jpg" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-1.jpg" title="Фонте Фиделити Итан и Пальмира, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-1-p.jpg" height="152" alt="Фонте Фиделити Итан и Пальмира, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-2.jpg" title="Фонте Фиделити Пальмира, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-2-p.jpg" height="152" alt="Фонте Фиделити Пальмира, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-3.jpg" title="Фонте Фиделити Итан и Пальмира, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-3-p.jpg" height="152" alt="Фонте Фиделити Итан и Пальмира, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-4.jpg" title="Фонте Фиделити Сигберт, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-4-p.jpg" height="152" alt="Фонте Фиделити Сигберт, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-6.jpg" title="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-6-p.jpg" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-7.jpg" title="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-7-p.jpg" height="152" alt="Фонте Фиделити Итан, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-8.jpg" title="Фонте Фиделити Пальмира, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-8-p.jpg" height="152" alt="Фонте Фиделити Пальмира, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-9.jpg" title="Фонте Фиделити Пальмира, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-9-p.jpg" height="152" alt="Фонте Фиделити Пальмира, г. Тольятти, 17 марта 2019 г."></a>
                <a href="/img/photos/shows/20190317-tolyatty-10.jpg" title="Фонте Фиделити Сигберт, г. Тольятти, 17 марта 2019 г." rel="a"><img src="/img/photos/shows/20190317-tolyatty-10-p.jpg" height="152" alt="Фонте Фиделити Сигберт, г. Тольятти, 17 марта 2019 г."></a>
        </p>
        <hr>

	<h2 style="font-size: 90%"><time datetime="2019-02-10">10.02.2019</time>, г. Самара, всероссийская выставка, эксперт Григоренко&nbsp;Т.&nbsp;В.</h2>
	<p style="text-align: left"><strong>Фанхил Хаус Деметра</strong>, класс чемпионов, 1&nbsp;отлично, Победитель класса, Лучшая сука, CAC, Чемпион РФЛС.</p>
	<p style="text-align: left"><strong>Фонте Фиделити Персей</strong>, класс щенков, 1 большая перспектива, Победитель класса, Лучший щенок.</p>
	<p>
		<a href="/img/2019/02102.jpg" title="Фанхил Хаус Деметра и Фонте Фиделити Персей, г. Самара, 10 февраля 2019 г." rel="a"><img src="/img/2019/02102-h152.jpg" width="124" height="152" alt="Фанхил Хаус Деметра и Фонте Фиделити Персей, г. Самара, 10 февраля 2019 г."></a>
	</p>
