---
photo: # temporary
  name: 2020/03082-h152
  width: 119
  caption: Крыгина Светлана и Фонте Фиделити Пальмира, г. Тольятти, 8 марта 2020 г.
---
<h2 style="font-size: 90%"><time datetime="2020-08-23">23.08.2020</time>, г. Тольятти, монопородная выставка, эксперт Близнецова Е. И.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Улана</strong>, класс беби, 2 большая перспектива</p>
<p>
    {% include photo.html path="2020/23081" title="Фонте Фиделити Улана, г. Тольятти, 23 августа 2020 г." w="244" h="152" %}
    {% include photo.html path="2020/23082" title="Фонте Фиделити Улана, г. Тольятти, 23 августа 2020 г." w="113" h="152" %}
    {% include photo.html path="2020/23083" title="Фонте Фиделити Улана, г. Тольятти, 23 августа 2020 г." w="228" h="152" %}
</p>
<hr>

<h2 style="font-size: 90%"><time datetime="2020-03-08">8.03.2020</time>, г. Тольятти, всероссийская выставка ЧРКФ, эксперт Карамзина Е. В.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Пальмира</strong>, класс открытый, 1 отлично, Победитель класса, Лучшая сука, 2xСАС, Чемпион РКФ!</p>
<p>
    {% include photo.html path="2020/03081" title="Фонте Фиделити Пальмира, г. Тольятти, 8 марта 2020 г." w="190" h="152" %}
</p>
