---
photo: # temporary
  name: 2021/01061-h152
  width: 146
  caption: Ужегова Людмила и Фонте Фиделити Текила, г. Пермь, 16 января 2021 г.
---
<h2 style="font-size: 90%"><time datetime="2021-07-10">10.07.2021</time>, г. Тольятти, монопородная выставка, эксперт Тимофеева О. А.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочий, 1 отлично, Кандидат в Чемпионы клуба, Лучший на проверке рабочих качеств!</p>
<p>
    {% include photo.html path="2021/07102" title="Фонте Фиделити Андо, г. Тольятти, 7 июля 2021 г." h="152" %}
    {% include photo.html path="2021/07103" title="Фонте Фиделити Андо и Итан, г. Тольятти, 7 июля 2021 г." h="152" %}
    {% include photo.html path="2021/07104" title="Фонте Фиделити Андо, г. Тольятти, 7 июля 2021 г." h="152" %}
    {% include photo.html path="2021/07105" title="Фонте Фиделити Андо, г. Тольятти, 7 июля 2021 г." h="152" %}
</p>
<hr>

<h2 style="font-size: 90%"><time datetime="2021-03-13">13.03.2021</time>, г. Пермь, национальная выставка, эксперт Костарёва Л. А.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочий, 1 отлично, Победитель класса, САС, Лучший кобель, BOS, Чемпион РФОС!</p>
<p style="text-align: left"><strong>Фонте Фиделити Текила</strong>, класс открытый, 1 отлично, Победитель класса, CAC, Лучшая сука, Лучший представитель породы, Чемпион РФОС, Победитель Best 1 группы (BIG-1)</p>
<p>
    {% include photo.html path="2021/03131" title="Фонте Фиделити Андо, г. Пермь, 13 марта 2021 г." h="152" %}
    {% include photo.html path="2021/03132" title="Фонте Фиделити Андо, г. Пермь, 13 марта 2021 г." h="152" %}
    {% include photo.html path="2021/03133" title="Фонте Фиделити Текила, г. Пермь, 13 марта 2021 г." h="152" %}
    {% include photo.html path="2021/03134" title="Фонте Фиделити Текила, г. Пермь, 13 марта 2021 г." h="152" %}
</p>
<hr>

<h2 style="font-size: 90%"><time datetime="2021-03-07">7.03.2021</time>, г. Казань, национальная выставка, эксперт Масалевичене Н. Г.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс чемпионов, 1 отлично, Победитель класса, САС, Лучший кобель, Лучший представитель породы</p>
<h2 style="font-size: 90%">Национальная выставка, эксперт Григоренко Т. В.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Итан</strong>, класс чемпионов, 1 отлично, Победитель класса, САС, Лучший кобель, Чемпион федерации ОАНКОО, Лучший представитель породы, Чемпион Татарстана!</p>
<p>
    {% include photo.html path="2021/03071" title="Фонте Фиделити Итан и Маргарита Морозова, г. Казань, 7 марта 2021 г." h="152" %}
    {% include photo.html path="2021/03072" title="Фонте Фиделити Итан и Маргарита Морозова, г. Казань, 7 марта 2021 г." h="152" %}
</p>
<hr>

<h2 style="font-size: 90%"><time datetime="2021-02-14">14.02.2021</time>, г. Пермь, выставка ЧРКФ, эксперт Логинов А. Е.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Андо</strong>, класс рабочий, 1 отлично, Победитель класса, CAC, Лучший кобель, BOS, Чемпион РКФ!</p>
<p style="text-align: left"><strong>Фонте Фиделити Текила</strong>, класс открытый, 1 отлично, Победитель класса, CAC, Лучшая сука, Лучший представитель породы, Чемпион РКФ, Победитель Best 1 группы (BIG-1), Победитель конкурса пар</p>
<p>
    {% include photo.html path="2021/02141" title="Фонте Фиделити Текила, г. Пермь, 14 февраля 2021 г." h="152" %}
    {% include photo.html path="2021/02142" title="Фонте Фиделити Текила, г. Пермь, 14 февраля 2021 г." h="152" %}
    {% include photo.html path="2021/02143" title="Фонте Фиделити Текила и Фонте Фиделити Андо, г. Пермь, 14 февраля 2021 г." h="152" %}
</p>
<hr>

<h2 style="font-size: 90%"><time datetime="2021-01-16">16.01.2021</time>, г. Пермь, национальная выставка, эксперт Краковская Л. В.</h2>
<p style="text-align: left"><strong>Фонте Фиделити Текила</strong>, класс открытый, 1 отлично, Победитель класса, CAC, Лучшая сука, Лучший представитель породы, Чемпион РФЛС, BEST группы 2 место</p>
<p>
    {% include photo.html path="2021/01062" title="Ужегова Людмила и Фонте Фиделити Текила, г. Пермь, 16 января 2021 г." w="228" h="152" %}
    {% include photo.html path="2021/01063" title="Ужегова Людмила и Фонте Фиделити Текила, г. Пермь, 16 января 2021 г." w="228" h="152" %}
    {% include photo.html path="2021/01064" title="Ужегова Людмила и Фонте Фиделити Текила, г. Пермь, 16 января 2021 г." w="203" h="152" %}
    {% include photo.html path="2021/01065" title="Ужегова Людмила и Фонте Фиделити Текила, г. Пермь, 16 января 2021 г." w="203" h="152" %}
    {% include photo.html path="2021/01066" title="Ужегова Людмила и Фонте Фиделити Текила, г. Пермь, 16 января 2021 г." w="228" h="152" %}
</p>
<hr>
