---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
	<head>
		<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" />
		<script src="/jquery-1.11.0.min.js"></script>
		<script src="/fancybox/jquery.fancybox.pack.js" defer></script>
		<link rel="shortcut icon" href="/favicon.png">
		<title>Фото Фанхил Хаус Хиллари — Питомник немецких овчарок «Фонте Фиделити» г. Тольятти</title>
		<meta name="author" content="Copyright © 2015–2018 Олег Ярыгин &lt;arhad95@gmail.com&gt;" />
		<meta name="copyright" lang="ru" content="2015 Олег Ярыгин &lt;arhad95@gmail.com&gt;" />
		<meta name="description" content="Фотографии Фанхил Хаус Хиллари, суки-производительницы питомника немецких овчарок Fonte Fideliti в городе Тольятти." />
	</head>

	<body>
		<header>
			<h1>Питомник немецких овчарок <span>«Fonte Fideliti»</span> г. Тольятти</h1>
			<img src="/img/title.jpg" width="500" height="260" alt="Логотип" />
		</header>

		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/males/">Производители</a></li>
				<li><a href="/females/" class="active">Производительницы</a></li>
				<li><a href="/shows/">Выставки</a></li>
				<li><a href="/dogs.htm">Наши выпускники</a></li>
				<li><a href="/photos.htm">Фото</a></li>
				<li><a href="/sale.htm">Щенки на продажу</a></li>
			</ul>
		</nav>

		<article>
			<h1>Фото <a href=".">Фанхил Хаус Хиллари</a></h1>
			{% include photo.html path="2009/06061" title="" w="101" h="152" %}
			{% include photo.html path="2009/06062" title="" w="228" h="152" %}
			{% include photo.html path="2009/06063" title="" w="227" h="152" %}
			{% include photo.html path="2011/03241" title="" w="204" h="152" %}
			{% include photo.html path="2009/05311" title="" w="228" h="152" %}
			{% include photo.html path="2009/06211" title="Монопородная выставка, г. Ульяновск, 21 июня 2009 г." w="168" h="152" %}
			{% include photo.html path="2009/06212" title="Монопородная выставка, г. Ульяновск, 21 июня 2009 г." w="227" h="152" %}
			{% include photo.html path="2009/06213" title="Монопородная выставка, г. Ульяновск, 21 июня 2009 г." w="151" h="152" %}
			{% include photo.html path="2009/06214" title="Монопородная выставка, г. Ульяновск, 21 июня 2009 г." w="228" h="152" %}
			{% include photo.html path="2009/06215" title="Монопородная выставка, г. Ульяновск, 21 июня 2009 г." w="228" h="152" %}
			{% include photo.html path="2009/06216" title="Монопородная выставка, г. Ульяновск, 21 июня 2009 г." w="203" h="152" %}
			{% include photo.html path="2010/10011" title="Монопородная выставка, г. Саратов, 18 сентября 2010 г. Фигурант: Хорешко Сергей" w="135" h="152" %}
			{% include photo.html path="2010/10012" title="Монопородная выставка, г. Саратов, 18 сентября 2010 г. Фигурант: Хорешко Сергей" w="139" h="152" %}
			<a href="/img/photos/hillari/15.jpg" rel="a"><img src="/img/photos/hillari/15-p.jpg" width="185" height="152" /></a>
			<a href="/img/photos/hillari/16.jpg" rel="a"><img src="/img/photos/hillari/16-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/17.jpg" rel="a"><img src="/img/photos/hillari/17-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/18.jpg" rel="a"><img src="/img/photos/hillari/18-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/19.jpg" rel="a"><img src="/img/photos/hillari/19-p.jpg" width="107" height="152" /></a>
			<a href="/img/photos/hillari/20.jpg" rel="a"><img src="/img/photos/hillari/20-p.jpg" width="200" height="152" /></a>
			<a href="/img/photos/hillari/21.jpg" rel="a"><img src="/img/photos/hillari/21-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/22.jpg" rel="a"><img src="/img/photos/hillari/22-p.jpg" width="203" height="152" /></a>
			<a href="/img/photos/hillari/23.jpg" rel="a"><img src="/img/photos/hillari/23-p.jpg" width="147" height="152" /></a>
			<a href="/img/photos/hillari/24.jpg" rel="a"><img src="/img/photos/hillari/24-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/25.jpg" rel="a"><img src="/img/photos/hillari/25-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/26.jpg" rel="a"><img src="/img/photos/hillari/26-p.jpg" width="114" height="152" /></a>
			<a href="/img/photos/hillari/27.jpg" rel="a"><img src="/img/photos/hillari/27-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/28.jpg" rel="a"><img src="/img/photos/hillari/28-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/29.jpg" title="Занятие по защите, июнь 2009г., г. Самара. Дрессировщик: Сергей Сорокин" rel="a"><img src="/img/photos/hillari/29-p.jpg" alt="Занятие по защите, июнь 2009г., г. Самара. Дрессировщик: Сергей Сорокин" width="228" height="152" /></a>
			<a href="/img/photos/hillari/30.jpg" rel="a"><img src="/img/photos/hillari/30-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/31.jpg" rel="a"><img src="/img/photos/hillari/31-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/32.jpg" rel="a"><img src="/img/photos/hillari/32-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/33.jpg" title="Монопородная выставка в г. Тольятти, август 2008г." rel="a"><img src="/img/photos/hillari/33-p.jpg" alt="Монопородная выставка в г. Тольятти, август 2008г." width="227" height="152" /></a>
			<a href="/img/photos/hillari/34.jpg" title="Монопородная выставка в г. Тольятти, август 2008г." rel="a"><img src="/img/photos/hillari/34-p.jpg" alt="Монопородная выставка в г. Тольятти, август 2008г." width="129" height="152" /></a>
			<a href="/img/photos/hillari/35.jpg" title="Монопородная выставка в г. Тольятти, август 2008г." rel="a"><img src="/img/photos/hillari/35-p.jpg" alt="Монопородная выставка в г. Тольятти, август 2008г." width="116" height="152" /></a>
			<a href="/img/photos/hillari/36.jpg" rel="a"><img src="/img/photos/hillari/36-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/38.jpg" rel="a"><img src="/img/photos/hillari/38-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/39.jpg" title="Монопородная выставка, г. Самара, апрель 2008г." rel="a"><img src="/img/photos/hillari/39-p.jpg" alt="Монопородная выставка, г. Самара, апрель 2008г." width="229" height="152" /></a>
			<a href="/img/photos/hillari/40.jpg" title="Монопородная выставка, г. Самара, апрель 2008г." rel="a"><img src="/img/photos/hillari/40-p.jpg" alt="Монопородная выставка, г. Самара, апрель 2008г." width="228" height="152" /></a>
			<a href="/img/photos/hillari/41.jpg" rel="a"><img src="/img/photos/hillari/41-p.jpg" width="228" height="152" /></a>
			<a href="/img/photos/hillari/42.jpg" title="Октябрь 2007г., 4 месяца" rel="a"><img src="/img/photos/hillari/42-p.jpg" alt="Октябрь 2007г., 4 месяца" width="203" height="152" /></a>
		</article>

		<footer>
			<p>Copyright © 2015–2018 <a href="//vk.com/arhad95" rel="author">Олег Ярыгин</a>.</p>
		</footer>
	</body>
</html>
