---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
	<head>
		<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
		<meta charset="utf-8">
		<title>
			{% if layout.subtitle_generator %}
				{% include {{ layout.subtitle_generator }} page=page %} —
			{% else %}
				{% if page.title %}
					{{ page.title }} —
				{% endif %}
			{% endif %}
			Питомник немецких овчарок «Фонте Фиделити» г. Тольятти</title>
		</title>
		<link rel="stylesheet" href="/common.css">
		<link rel="shortcut icon" href="/favicon.png">
		{% if layout.description_generator %}
			<meta name="description" content="{% include {{ layout.description_generator }} page=page %}">
		{% else %}
			{% if page.description %}
				<meta name="description" content="{{ page.description }}">
			{% endif %}
		{% endif %}
		{% if layout.interactive_images %}
			<script src="/jquery-1.11.0.min.js"></script>
			<script src="/fancybox/jquery.fancybox.pack.js" defer></script>
		{% endif %}
	</head>
	<body>
		<header>
			<h1>Питомник немецких овчарок <span>«Fonte Fideliti»</span> г. Тольятти</h1>
			<img src="/img/title.jpg" width="500" height="260" alt="Логотип" />
		</header>

		<nav>
			<ul>
			{% for entry in site.data.navigation %}
				{% if page.url != entry.url %}
					<li>
						<a
							{% if page.url contains entry.url and entry.url != "/" %}
								class="current"
							{% endif %}
							href="{{ entry.url }}">{{ entry.title }}
						</a>
					</li>
				{% else %}
					<li><span class="current">{{ entry.title }}</span></li>
				{% endif %}
			{% endfor %}
			</ul>
		</nav>

		{{ content }}

		<footer>
			<p>
				© <a href="//github.org/arhad/" rel="author" title="Профиль на GitHub">Ярыгин О. В.</a>,
				2015–{{ site.time | date: '%Y' }}
			</p>
		</footer>
	</body>
</html>
