---
---
<!DOCTYPE html>
<html lang="ru">
	<head>
		<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" />
		<script src="/jquery-1.11.0.min.js"></script>
		<script src="/fancybox/jquery.fancybox.pack.js" defer></script>
		<link rel="shortcut icon" href="/favicon.png">
		<title>Фото Фонте Фиделити Итана — Питомник немецких овчарок «Фонте Фиделити» г. Тольятти</title>
		<meta name="author" content="Copyright © 2015–2018 Олег Ярыгин &lt;arhad95@gmail.com&gt;" />
		<meta name="copyright" lang="ru" content="2015 Олег Ярыгин &lt;arhad95@gmail.com&gt;" />
	</head>

	<body>
		<header>
			<h1>Питомник немецких овчарок <span>«Fonte Fideliti»</span> г. Тольятти</h1>
			<img src="/img/title.jpg" width="500" height="260" alt="Логотип" />
		</header>

		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/males/">Производители</a></li>
				<li><a href="/females/">Производительницы</a></li>
				<li><a href="/shows/">Выставки</a></li>
				<li><a href="/dogs.htm">Наши выпускники</a></li>
				<li><a href="/photos.htm">Фото</a></li>
				<li><a href="/sale.htm">Щенки на продажу</a></li>
				<li><a href="/glossary.htm">Глоссарий</a></li>
			</ul>
		</nav>

		<article>
			<h1>Фото <a href="/males/itan/">Фонте Фиделити Итана</a></h1>
			{% include photo.html path="2019/10192" title="Фонте Фиделити Итан, г. Димитровград, 19 октября 2019 г." w="142" h="152" %}
			{% include photo.html path="2019/10193" title="Фонте Фиделити Итан, г. Димитровград, 19 октября 2019 г." w="225" h="152" %}
			{% include photo.html path="2019/10194" title="Фонте Фиделити Итан, г. Димитровград, 19 октября 2019 г." w="225" h="152" %}
			{% include photo.html path="2019/10191" title="Фонте Фиделити Итан и Пальмира, г. Димитровград, 19 октября 2019 г." w="249" h="152" %}
			{% include photo.html path="2019/08251" title="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г." w="218" h="152" %}
			{% include photo.html path="2019/08252" title="Фонте Фиделити Итан, Пальмира и Андо, г. Тольятти, 25 августа 2019 г." w="268" h="152" %}
 			{% include photo.html path="2019/08253" title="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г." w="246" h="152" %}
			{% include photo.html path="2019/08254" title="Фонте Фиделити Итан, г. Тольятти, 25 августа 2019 г." w="102" h="152" %}
			{% include photo.html path="2019/0615b" title="Фонте Фиделити Итан. Выставка моно в Тольятти 15 июня 2019 г." h="152" %}
			{% include photo.html path="2019/05091" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05092" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05093" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05094" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05095" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05096" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05097" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05098" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="2019/05099" title="Фонте Фиделити Итан. Занятие по защите 9 мая 2019 г." h="152" %}
			{% include photo.html path="photos/itan/19" title="Фонте Фиделити Итан, май 2019 г." h="152" %}
			{% include photo.html path="photos/itan/18" title="Фонте Фиделити Итан, май 2019 г." h="152" %}
			{% include photo.html path="photos/itan/17" title="Фонте Фиделити Итан, май 2019 г." h="152" %}
			{% include photo.html path="2019/03171" title="Фонте Фиделити Итан. Выставка САС в Тольятти 17 марта 2019 г." h="152" %}
			{% include photo.html path="2019/03172" title="Фонте Фиделити Итан. Выставка САС в Тольятти 17 марта 2019 г." h="152" %}
			{% include photo.html path="2019/03173" title="Фонте Фиделити Итан. Выставка САС в Тольятти 17 марта 2019 г." h="152" %}
			{% include photo.html path="2019/03174" title="Фонте Фиделити Итан. Выставка САС в Тольятти 17 марта 2019 г." h="152" %}
			{% include photo.html path="2019/03175" title="Фонте Фиделити Итан. Выставка САС в Тольятти 17 марта 2019 г." h="152" %}
			{% include photo.html path="photos/itan/16" title="Фонте Фиделити Итан, 1 год 7 месяцев" h="152" %}
			{% include photo.html path="photos/itan/15" title="Фонте Фиделити Итан, 1 год 7 месяцев" h="152" %}
			{% include photo.html path="2018/08253" title="Фонте Фиделити Итан. Выставка моно в Тольятти. 25 августа 2018 г." h="152" %}
			{% include photo.html path="2018/08251" title="Фонте Фиделити Итан. Выставка моно в Тольятти. 25 августа 2018 г." h="152" %}
			{% include photo.html path="2018/08254" title="Фонте Фиделити Итан. Выставка моно в Тольятти. 25 августа 2018 г." h="152" %}
			{% include photo.html path="2018/08252" title="Фонте Фиделити Итан. Выставка моно в Тольятти. 25 августа 2018 г." h="152" %}
			{% include photo.html path="photos/itan/14" title="Фонте Фиделити Итан, 1 год 3 месяца" h="152" %}
			{% include photo.html path="photos/itan/13" title="Фонте Фиделити Итан, 1 год 3 месяца" h="152" %}
			{% include photo.html path="photos/itan/12" title="Фонте Фиделити Итан, 1 год 3 месяца" h="152" %}
			{% include photo.html path="2018/07241" title="Фонте Фиделити Итан. 1 год и 3 месяца. 24 июля 2018 г." h="152" %}
			{% include photo.html path="2018/07242" title="Фонте Фиделити Итан. 1 год и 3 месяца. 24 июля 2018 г." h="152" %}
			{% include photo.html path="2018/03031" title="Фонте Фиделити Итан. Выставка САС в Самаре 3 марта 2018 г." h="152" %}
			{% include photo.html path="photos/itan/11" title="Фонте Фиделити Итан, 10 месяцев" h="152" %}
			{% include photo.html path="photos/itan/10" title="Фонте Фиделити Итан, 10 месяцев" h="152" %}
			{% include photo.html path="photos/itan/8" title="Фонте Фиделити Итан, 10 месяцев" h="152" %}
			{% include photo.html path="photos/itan/9" title="Фонте Фиделити Итан, 10 месяцев" h="152" %}
			{% include photo.html path="2017/12241" title="Фонте Фиделити Итан. Выставка САС в Пензе 24 декабря 2017 г." h="152" %}
			{% include photo.html path="2017/12242" title="Фонте Фиделити Итан. Выставка САС в Пензе 24 декабря 2017 г." h="152" %}
			{% include photo.html path="2017/12101" title="Фонте Фиделити Итан. Выставка САС в Пензе 10 декабря 2017 г." h="152" %}
			{% include photo.html path="2017/12102" title="Фонте Фиделити Итан. Выставка САС в Пензе 10 декабря 2017 г." h="152" %}
			{% include photo.html path="photos/itan/7" title="Фонте Фиделити Итан, 6 месяцев" h="152" %}
			{% include photo.html path="photos/itan/6" title="Фонте Фиделити Итан, 6 месяцев" h="152" %}
			{% include photo.html path="photos/itan/5" title="Фонте Фиделити Итан, 6 месяцев" h="152" %}
			{% include photo.html path="photos/itan/4" title="Фонте Фиделити Итан, 6 месяцев" h="152" %}
			{% include photo.html path="2017/08181" title="Фонте Фиделити Итан. Выставка моно в Тольятти (БП, CW). 18 августа 2017 г." h="152" %}
			{% include photo.html path="photos/itan/3" title="Фонте Фиделити Итан, 4 месяца" h="152" %}
			{% include photo.html path="photos/itan/2" title="Фонте Фиделити Итан, 2,5 месяца" h="152" %}
			{% include photo.html path="photos/itan/1" title="Фонте Фиделити Итан, 1,5 месяца" h="152" %}
		</article>

		<footer>
			<p>Copyright © 2015–2018 <a href="//vk.com/arhad95" rel="author">Олег Ярыгин</a>.</p>
		</footer>
	</body>
</html>
